# Default values for rustlemania.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
nameOverride: ""
fullnameOverride: ""

wsApi:
  replicaCount: 3
  image:
    repository: securityunion/rustlemania-api
    pullPolicy: Always
    tag: latest
  env:
    - name: RUST_LOG
      value: info
    - name: ACTIX_PORT
      value: "8080"
    - name: UI_ENDPOINT
      value: https://rustlemania.com
    - name: NATS_URL
      value: nats:4222
    - name: DATABASE_URL
      valueFrom:
        secretKeyRef:
          name: rustlemania
          key: database_url
    - name: OAUTH_CLIENT_ID
      valueFrom:
        secretKeyRef:
          name: rustlemania
          key: oauth_client_id
    - name: OAUTH_AUTH_URL
      valueFrom:
        secretKeyRef:
          name: rustlemania
          key: oauth_auth_url
    - name: OAUTH_TOKEN_URL
      valueFrom:
        secretKeyRef:
          name: rustlemania
          key: oauth_token_url
    - name: OAUTH_CLIENT_SECRET
      valueFrom:
        secretKeyRef:
          name: rustlemania
          key: oauth_client_secret
    - name: OAUTH_REDIRECT_URL
      valueFrom:
        secretKeyRef:
          name: rustlemania
          key: oauth_redirect_url
  resources: {}
  podAnnotations: {}
  podSecurityContext: {}
  securityContext: {}
  service:
    type: ClusterIP
    port: 8080
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
    targetMemoryUtilizationPercentage: 80
  nodeSelector: {}
  tolerations: []
  affinity: {}

wtApi:
  replicaCount: 3
  image:
    repository: securityunion/rustlemania-api
    pullPolicy: Always
    tag: 3d235506728016846284db1d78c341780513c29b
  command: ['webtransport_server']
  args: []
  tlsSecret: rustlemania-tls
  env:
    - name: RUST_LOG
      value: debug,quinn=warn
    - name: NATS_URL
      value: nats:4222
    - name: LISTEN_URL
      value: 0.0.0.0:4433
    - name: CERT_PATH
      value: /certs/tls.crt
    - name: KEY_PATH
      value: /certs/tls.key
  resources: {}
  podAnnotations: {}
  podSecurityContext: {}
  securityContext: {}
  service:
    type: NodePort
    port: 4433
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
    targetMemoryUtilizationPercentage: 80
  nodeSelector:
    node-role: worker
  tolerations: []
  affinity:
    podAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchExpressions:
              - key: app
                operator: Exists
          topologyKey: "kubernetes.io/hostname"
  # Used to configure cloud provider specific LB service type
  # loadBalancerAnnotations:

ui:
  replicaCount: 1
  image:
    repository: securityunion/rustlemania-ui
    pullPolicy: Always
    tag: 900c7390b5a6c4663b67d59b392078363ff12792
  resources: {}
  podAnnotations: {}
  podSecurityContext: {}
  securityContext: {}
  service:
    type: ClusterIP
    port: 80
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
    targetMemoryUtilizationPercentage: 80
  nodeSelector: {}
  tolerations: []
  affinity: {}


ingress:
  enabled: true
  className: nginx
  annotations:
    cert-manager.io/issuer: letsencrypt-prod
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: api.rustlemania.com
      paths:
        - path: /
          pathType: Prefix
          service:
            name: rustlemania-ws-api
            port:
              number: 8080
    - host: api2.rustlemania.com
      paths:
        - path: /
          pathType: Prefix
          service:
            name: rustlemania-wt-api
            port:
              number: 4433
    - host: rustlemania.com
      paths:
        - path: /
          pathType: Prefix
          service:
            name: rustlemania-ui
            port:
              number: 80
  tls:
    - secretName: rustlemania-tls
      hosts:
        - rustlemania.com
        - '*.rustlemania.com'
