# Default values for rustlemania.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
nameOverride: ""
fullnameOverride: ""

wsApi:
  replicaCount: 3
  image:
    repository: securityunion/rustlemania-api
    pullPolicy: Always
    tag: a0c57eed9e075d63dd13540a6e79828ce261dcb9
  env:
    - name: RUST_LOG
      value: info
    - name: ACTIX_PORT
      value: "8080"
    - name: UI_ENDPOINT
      value: https://rustlemania.com
    - name: NATS_URL
      value: nats:4222
    - name: DATABASE_URL
      valueFrom:
        secretKeyRef:
          name: rustlemania
          key: database_url
    - name: OAUTH_CLIENT_ID
      valueFrom:
        secretKeyRef:
          name: rustlemania
          key: oauth_client_id
    - name: OAUTH_AUTH_URL
      valueFrom:
        secretKeyRef:
          name: rustlemania
          key: oauth_auth_url
    - name: OAUTH_TOKEN_URL
      valueFrom:
        secretKeyRef:
          name: rustlemania
          key: oauth_token_url
    - name: OAUTH_CLIENT_SECRET
      valueFrom:
        secretKeyRef:
          name: rustlemania
          key: oauth_client_secret
    - name: OAUTH_REDIRECT_URL
      valueFrom:
        secretKeyRef:
          name: rustlemania
          key: oauth_redirect_url
  resources: {}
  podAnnotations: {}
  podSecurityContext: {}
  securityContext: {}
  service:
    type: ClusterIP
    port: 8080
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
    targetMemoryUtilizationPercentage: 80
  nodeSelector: {}
  tolerations: []
  affinity: {}

wtApi:
  replicaCount: 3
  image:
    repository: securityunion/rustlemania-api
    pullPolicy: Always
    tag: a0c57eed9e075d63dd13540a6e79828ce261dcb9
  command: ['webtransport_server']
  args: []
  tlsSecret: rustlemania-tls
  env:
    - name: RUST_LOG
      value: debug,quinn=warn
    - name: NATS_URL
      value: nats:4222
    - name: LISTEN_URL
      value: 0.0.0.0:443
    - name: CERT_PATH
      value: /certs/tls.crt
    - name: KEY_PATH
      value: /certs/tls.key
  resources: {}
  podAnnotations: {}
  podSecurityContext: {}
  securityContext: {}
  service:
    type: NodePort
    port: 443
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
    targetMemoryUtilizationPercentage: 80
  nodeSelector:
    node-role: worker
  tolerations: []
  affinity:
    podAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchExpressions:
              - key: app
                operator: Exists
          topologyKey: "kubernetes.io/hostname"
  # Used to configure cloud provider specific LB service type
  loadBalancerAnnotations:
    external-dns.alpha.kubernetes.io/hostname: "transport.rustlemania.com"
    service.beta.kubernetes.io/do-loadbalancer-healthcheck-protocol: "http"
    service.beta.kubernetes.io/do-loadbalancer-healthcheck-check-interval-seconds: "3"
    service.beta.kubernetes.io/do-loadbalancer-healthcheck-response-timeout-seconds: "4"
    service.beta.kubernetes.io/do-loadbalancer-healthcheck-unhealthy-threshold: "3"
    service.beta.kubernetes.io/do-loadbalancer-healthcheck-healthy-threshold: "5"
    service.beta.kubernetes.io/do-loadbalancer-healthcheck-port: "443"
    service.beta.kubernetes.io/do-loadbalancer-size-unit: "1"
    service.beta.kubernetes.io/do-loadbalancer-healthcheck-path: "/healthz"

ui:
  replicaCount: 1
  image:
    repository: securityunion/rustlemania-ui
    pullPolicy: Always
    tag: 080116aa477c2d156d62414340f25706d2abb142
  resources: {}
  podAnnotations: {}
  podSecurityContext: {}
  securityContext: {}
  service:
    type: ClusterIP
    port: 80
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
    targetMemoryUtilizationPercentage: 80
  nodeSelector: {}
  tolerations: []
  affinity: {}

ingress:
  enabled: true
  className: nginx
  annotations:
    cert-manager.io/issuer: letsencrypt-prod
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    kubernetes.io/tls-acme: "true"
  hosts:
    - host: api.rustlemania.com
      paths:
        - path: /
          pathType: Prefix
          service:
            name: rustlemania-ws-api
            port:
              number: 8080
    - host: rustlemania.com
      paths:
        - path: /
          pathType: Prefix
          service:
            name: rustlemania-ui
            port:
              number: 80
  tls:
    - secretName: rustlemania-tls
      hosts:
        - rustlemania.com
        - '*.rustlemania.com'
