# Default values for rustlemania.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
nameOverride: ""
fullnameOverride: ""


replicaCount: 1
image:
  repository: securityunion/rustlemania-api
  pullPolicy: Always
  tag: high-availability-cf63fcce
env:
  - name: RUST_LOG
    value: info
  - name: ACTIX_PORT
    value: "8080"
  - name: UI_ENDPOINT
    value: https://rustlemania.com
  - name: NATS_URL
    value: nats:4222
  - name: DATABASE_ENABLED
    value: "false"
  - name: DATABASE_URL
    value: abc
  - name: TOKIO_WORKER_THREADS
    value: "1"  # Default for WebSocket services - adjust per region as needed
resources:
  limits:
    cpu: "50m"
    memory: "10Mi"
  requests:
    cpu: "20m"
    memory: "10Mi"
podAnnotations: {}
podSecurityContext: {}
securityContext: {}
service:
  type: ClusterIP
  port: 8080
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80
nodeSelector: {}
tolerations: []
affinity: {}

ingress:
  enabled: true
  className: nginx
  annotations:
    cert-manager.io/issuer: letsencrypt-prod
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    kubernetes.io/tls-acme: "true"
  hosts:
    - host: api.rustlemania.com
      paths:
        - path: /
          pathType: Prefix
          service:
            name: rustlemania-websocket
            port:
              number: 8080
  tls:
    - secretName: rustlemania-websocket-tls
      hosts:
        - api.rustlemania.com
