<script src="https://giscus.app/client.js"
        data-repo="{{ config.extra.giscus.repo }}"
        data-repo-id="{{ config.extra.giscus.repo_id }}"
        data-category="{{ config.extra.giscus.category }}"
        data-category-id="{{ config.extra.giscus.category_id }}"
        data-mapping="{{ config.extra.giscus.mapping }}"
        data-strict="{{ config.extra.giscus.strict }}"
        data-reactions-enabled="{{ config.extra.giscus.reactions_enabled }}"
        data-emit-metadata="{{ config.extra.giscus.emit_metadata }}"
        data-input-position="{{ config.extra.giscus.input_position }}"
        data-theme="{{ config.extra.giscus.theme }}"
        data-lang="{{ config.extra.giscus.lang }}"
        crossorigin="anonymous"
        async>
</script>