{%extends "base.html"%}

{% block main_content %}
    <div class="tag-cloud">
        {% block title %}
            {{ post_macros::page_header(title="Tags") }}
        {% endblock title %}

        <main class="list">
            <ul class="tags">
                {% for term in terms %}
                <li>
                    <a href="{{ term.permalink | safe }}">
                        {{ term.name }} ({{ term.pages | length }} post{{ term.pages | length | pluralize }})
                    </a>
                </li>
                {% endfor %}
            </ul>
        </main>
    </div>
{% endblock main_content %}