@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  margin: 0;
}

body {
  height: 100vh;
  color: white;
  background-color: #111;
  display: flex;
}

input {
  margin: auto;
  /* nice thing of auto margin if display:flex; it center both horizontal and vertical :) */
}

.grid-container {
  width: 100%;
  margin: 16px 16px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 8px;
  align-items: center;
  /* Center items vertically */
  justify-content: center;
  /* Center items horizontally */
}

.grid-item {
  height: fit-content;
  position: relative;
}

/* Host camera frame rendered in the bottom right corner */
.host {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20%;
  height: auto;
}

.hidden {
  display: none
}

canvas {
  width: 100%;
  height: 100%;
}

.self-camera {
  width: 100%;
  height: 100%;
}

.floating-name {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 0;
  background-color: black;
  color: white;
}

.controls {
  top: 0;
  left: 0;
  margin-top: 0;
  margin-left: 0;
}

.device-selector {
  width: 200px;
}

.device-selector-wrapper {
  margin-bottom: 20px;
}

:disabled {
  cursor: default;
  background-color: dimgrey !important;
  color: linen !important;
  opacity: 1 !important;
}

select {
  color: black;
}