@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  margin: 0;
}

body {
  overflow: hidden;
  height: 100vh;
  color: white;
  background-color: #111;
  display: flex;
  flex-direction: column;
}

input {
  margin: auto;
  /* nice thing of auto margin if display:flex; it center both horizontal and vertical :) */
}

canvas {
  width: 100%;
  height: auto;
  margin: auto;
}

#main-container {
  display: flex;
  height: 100vh;
}

#peer-list-container {
  width: 20%;
  height: 100%;
  transition: width 0.3s;
  flex-direction: column;
  background-color: #f0f0f0;
  display: none;
  padding: 10px;
  color: #333333;
}

#peer-list-container.visible {
  display: flex;
}

#peer-list-container [type="text"] {
  width: calc(100% - 20px); 
  box-sizing: border-box; 
  padding: 10px;
  margin: 0px; 

}

.peer-list-container * {
  color: inherit; /* Ensure all children inherit the color */
}

#peer-list-container-header {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top:10px;
  margin-bottom: 10px;
  margin-right: 20px;
}

.search-box {
  flex-shrink: 0;
  padding: 10px;
  background-color: #d0d0d0;
}

.peer-list {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10;
}

.peer-list ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-right: 1px solid #ccc;
}

.peer-list li {
  margin-top: 20px;
  height: 40px;
  font-size: 20px;
}

.peer_item{
  display: flex;
  align-items: center;
}

.peer_item_icon {
  flex-shrink: 0;
}

.peer_item_text {
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 20px;
}

.footer {
  flex-shrink: 0;
  padding: 10px;
  background-color: #b0b0b0;
}

#grid-container {
  position: relative;
  margin: 16px 16px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 8px;
  align-items: center;
  /* Center items vertically */
  justify-content: center;
  /* Center items horizontally */
  transition: width 0.3s;
  flex-grow: 1;
  overflow: auto;
}

.grid-item {
  height: fit-content;
  position: relative;
}

.grid-item-pinned {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* Host camera frame rendered in the bottom right corner */
.host {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20%;
  height: auto;
}

.hidden {
  display: none
}

.self-camera {
  width: 100%;
  height: 100%;
}

.floating-name {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 0;
  background-color: black;
  color: white;
}

.controls {
  top: 0;
  left: 0;
  margin-top: 0;
  margin-left: 0;
}

.device-selector {
  width: 200px;
}

.device-selector-wrapper {
  margin-bottom: 20px;
}

:disabled {
  cursor: default;
  background-color: dimgrey !important;
  color: linen !important;
  opacity: 1 !important;
}

select {
  color: black;
}

.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 8px;
}

.canvas-container {
  position: relative;
  width: 100%; /* Or the width of your canvas */
  height: 100%; /* Or the height of your canvas */
}

.pin-icon {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  opacity: 0.6;
  background-color: black;
  border-radius: 50%;
  padding: 10px;
  text-align: center;
  line-height: 1; /* Adjust as needed */
}


.grid-item:hover .pin-icon {
  visibility: visible;
}

