version: '3.8'

services:
  yew-ui:
    volumes:
      - type: bind
        source: ../
        target: /app
      - /app/target
      - rustlemania-yew-ui-cargo-registry-cache:/usr/local/cargo/registry
      - rustlemania-yew-ui-cache:/app/yew-ui/target
    build:
      dockerfile: ../docker/Dockerfile.yew
    working_dir: /app/yew-ui
    command: bash -c "trunk serve --address 0.0.0.0 --port ${TRUNK_SERVE_PORT:-80}"
    environment:
      - ACTIX_UI_BACKEND_URL=${ACTIX_UI_BACKEND_URL:-ws://localhost:${ACTIX_PORT:-8080}}
      - WEBTRANSPORT_HOST=${WEBTRANSPORT_HOST:-https://127.0.0.1:4433}
      - TRUNK_SERVE_PORT=${TRUNK_SERVE_PORT:-80}
      - ENABLE_OAUTH=false
      - LOGIN_URL=http://localhost:${ACTIX_PORT:-8080}/login
      - RUSTFLAGS=--cfg=web_sys_unstable_apis
      - RUST_BACKTRACE=1
      - WEBTRANSPORT_ENABLED=${WEBTRANSPORT_ENABLED:-false}
      - E2EE_ENABLED=${E2EE_ENABLED:-false}
      - USERS_ALLOWED_TO_STREAM=${USERS_ALLOWED_TO_STREAM:-}
      - RUST_LOG=info
    ports:
      - "${TRUNK_SERVE_PORT:-80}:${TRUNK_SERVE_PORT:-80}"

  # website:
  #   volumes:
  #     - type: bind
  #       source: ../
  #       target: /app
  #     - /app/target
  #     - rustlemania-leptos-ui-cargo-registry-cache:/usr/local/cargo/registry
  #     - rustlemania-leptos-ui-cache:/app/leptos-website/target
  #   build:
  #     dockerfile: ../docker/Dockerfile.website.dev
  #   working_dir: /app/leptos-website
  #   command: bash -c "trunk serve --address 0.0.0.0 --port ${TRUNK_SERVE_PORT:-80}"
  #   environment:
  #     - LEPTOS_SITE_ADDR="0.0.0.0:91"
  #   ports:
  #     - "91:91"
  
  # websocket-api:
  #   build:
  #     dockerfile: ../docker/Dockerfile.actix
  #   working_dir: /app/actix-api
  #   command: bash -c "/app/dbmate/startup.sh && cargo watch -x \"run -r --bin websocket_server\""
  #   environment:
  #     - ACTIX_PORT=${ACTIX_PORT:-8080}
  #     - UI_ENDPOINT=${UI_ENDPOINT:-http://localhost:80}
  #     - OAUTH_CLIENT_ID=${OAUTH_CLIENT_ID}
  #     - OAUTH_AUTH_URL=${OAUTH_AUTH_URL}
  #     - OAUTH_TOKEN_URL=${OAUTH_TOKEN_URL}
  #     - OAUTH_CLIENT_SECRET=${OAUTH_CLIENT_SECRET}
  #     - OAUTH_REDIRECT_URL=http://localhost:${ACTIX_PORT:-8080}/login/callback
  #     - RUST_LOG=debug
  #     - DATABASE_URL=postgres://postgres:docker@postgres:5432/actix-api-db?sslmode=disable
  #     - NATS_URL=nats:4222
  #   ports:
  #     - "${ACTIX_PORT:-8080}:${ACTIX_PORT:-8080}"
  #   volumes:
  #     - type: bind
  #       source: ../
  #       target: /app
  #     - /app/target
  #     - rustlemania-actix-web-cargo-registry-cache:/usr/local/cargo/registry
  #     - rustlemania-actix-web-target-cache:/app/actix-api/target

  #   depends_on:
  #     - postgres
  #     - nats

  # webtransport-api:
  #   build:
  #     dockerfile: ../docker/Dockerfile.actix
  #   working_dir: /app/actix-api
  #   command: bash -c "cargo watch -x \"run -r --bin webtransport_server\""
  #   environment:
  #     - RUST_LOG=info
  #     - NATS_URL=nats:4222
  #     - LISTEN_URL=0.0.0.0:4433
  #     - HEALTH_LISTEN_URL=0.0.0.0:5321
  #     - CERT_PATH=certs/localhost.pem
  #     - KEY_PATH=certs/localhost.key
  #   ports:
  #     - "4433:4433/udp"
  #   volumes:
  #     - type: bind
  #       source: ../
  #       target: /app
  #     - /app/target
  #     - rustlemania-actix-webtransport-cargo-registry-cache:/usr/local/cargo/registry
  #     - rustlemania-actix-webtransport-cache:/app/actix-api/target

  #   depends_on:
  #     - nats

  # nats:
  #   image: nats
  #   command: "--http_port 8222"
  #   ports:
  #     - "4222:4222"
  #     - "8222:8222"

  # postgres:
  #   image: postgres:12
  #   environment:
  #     POSTGRES_PASSWORD: "docker"
  #     PGPASSWORD: "docker"
  #   ports:
  #     - 5432

  tailwind:
    tty: true
    build:
      dockerfile: ../docker/Dockerfile.tailwind
    working_dir: /app/yew-ui
    command: -o ./static/tailwind.css --watch
    volumes:
      - type: bind
        source: ../
        target: /app

volumes:
  rustlemania-actix-web-cargo-registry-cache:
  rustlemania-actix-webtransport-cargo-registry-cache:
  rustlemania-yew-ui-cargo-registry-cache:
  rustlemania-actix-web-target-cache:
  rustlemania-actix-webtransport-cache:
  rustlemania-yew-ui-cache:
  rustlemania-leptos-ui-cargo-registry-cache:
  rustlemania-leptos-ui-cache:
