Kind: Deployment
ApiVersion: v0.8

Namespace: global

Cargoes:
  - Name: db
    Container:
      Tty: true
      Image: postgres:12
      Env:
        - POSTGRES_PASSWORD=docker
        - PGPASSWORD=docker

  - Name: nats
    Container:
      Tty: true
      Image: nats:2.9

  - Name: ui
    Container:
      Tty: true
      Image: docker-yew-ui:latest
      WorkingDir: /app/yew-ui
      Cmd:
        - bash
        - -c
        - trunk serve --address 0.0.0.0 --port ${TRUNK_SERVE_PORT}
      HostConfig:
        Dns:
          - ${{ Namespaces.global.Gateway }}
          - 1.1.1.1
        Binds:
          - ../:/app
          - ${{ Envs.HOME }}/.cargo/registry:/usr/local/cargo/registry
      Env:
      - ACTIX_HOST=api.zoom.rs
      - ACTIX_PORT=8080
      - ACTIX_UI_BACKEND_URL=ws://api.zoom.rs
      - TRUNK_SERVE_PORT=8081
      - ENABLE_OAUTH=false
      - LOGIN_URL=http://api.zoom.rs/login
      - RUSTFLAGS=--cfg=web_sys_unstable_apis
      - RUST_BACKTRACE=1

  - Name: api
    Replication:
      Mode: Static
      Number: 3
    Container:
      Tty: true
      Image: docker-actix-api:latest
      WorkingDir: /app/actix-api
      Cmd:
        - bash
        - -c
        - /app/dbmate/startup.sh && cargo watch -x run
      HostConfig:
        Dns:
          - ${{ Namespaces.global.Gateway }}
          - 1.1.1.1
        Binds:
          - ../:/app
          - ${{ Envs.HOME }}/.cargo/registry:/usr/local/cargo/registry
      Env:
        - ACTIX_PORT=8080
        - TRUNK_SERVE_PORT=8081
        - TRUNK_SERVE_HOST=zoom.rs
        - OAUTH_CLIENT_ID=${{Envs.OAUTH_CLIENT_ID}}
        - OAUTH_AUTH_URL=${{Envs.OAUTH_AUTH_URL}}
        - OAUTH_TOKEN_URL=${{Envs.OAUTH_TOKEN_URL}}
        - OAUTH_CLIENT_SECRET=${{Envs.OAUTH_CLIENT_SECRET}}
        - OAUTH_REDIRECT_URL=http://api.zoom.rs/login/callback
        - RUST_LOG=debug
        - PG_URL=postgres://postgres:docker@db.zoom.rs:5432/actix-api-db?sslmode=disable
        - NATS_URL=nats.zoom.rs
        - DATABASE_URL=postgres://postgres:docker@db.zoom.rs:5432/actix-api-db?sslmode=disable

Resources:
  - Name: dns
    Kind: DnsRule
    Version: v0.2
    Config:
      Network: global.nsp
      Entries:
        - Name: api.zoom.rs
          IpAddress: global.nsp
        - Name: zoom.rs
          IpAddress: global.nsp
        - Name: nats.zoom.rs
          IpAddress: global.nsp
        - Name: db.zoom.rs
          IpAddress: global.nsp

  - Name: zoom.rs
    Kind: ProxyRule
    Version: v0.5
    Config:
      Watch:
        - ui.global.c
        - api.global.c
      Rules:
        - Domain: zoom.rs
          Network: Public
          Locations:
            - Path: /
              Version: 1.1
              Headers:
                - Upgrade $http_upgrade
                - Connection "Upgrade"
              Target:
                Key: ui.global.c
                Port: 8081

        - Domain: api.zoom.rs
          Network: Public
          Locations:
            - Path: /
              Version: 1.1
              Headers:
                - Upgrade $http_upgrade
                - Connection "Upgrade"
              Target:
                Key: api.global.c
                Port: 8080

  - Name: nats.zoom.rs
    Kind: ProxyRule
    Version: v0.5
    Config:
      Watch:
        - nats.global.c
      Rules:
        - Network: Public
          Protocol: Tcp
          Port: 4222
          Target:
            Key: nats.global.c
            Port: 4222

  - Name: db.zoom.rs
    Kind: ProxyRule
    Version: v0.5
    Config:
      Watch:
        - db.global.c
      Rules:
        - Network: Public
          Protocol: Tcp
          Port: 5432
          Target:
            Key: db.global.c
            Port: 5432
