# Generated frameworks
Frameworks/

# Xcode
.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/

# Swift Package Manager
.swiftpm/
