[package]
name = "yew-ui"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
yew = "0.19.3"
wasm-bindgen = "0.2.82"
wasm-bindgen-futures = "0.4.30"
reqwasm = "0.5.0"
types = { path= "../types"}
const_format="0.2.25"
lazy_static = "1.4.0"
gloo-console = "0.2.1"
gloo-utils = "0.1"
yew-router = "0.16"
web-sys = { version = "0.3.58", features = ["HtmlDocument"] }
