[package]
name = "yew-ui"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
yew = { version = "0.20", features = ["csr"] }
wasm-bindgen = "0.2.78"
wasm-bindgen-futures = "0.4.30"
reqwasm = "0.5.0"
types = { path= "../types"}
console_error_panic_hook = "0.1.7"
console_log = "1.0.0"
const_format="0.2.25"
lazy_static = "1.4.0"
log = "0.4.19"
gloo-utils = { version = "0.1", features = ["serde"] }
yew-router = "0.17"
js-sys = "0.3"
yew-websocket = "1.0.1"
anyhow = "1"
serde = { version = "1", features = ["derive"] }
protobuf = "3.2.0"
gloo = "0.8.0"
gloo-timers = "0.2.6"
urlencoding = "2.1.2"
yew-webtransport = "0.3.2"
aes = "0.8.3"
cbc = { version = "0.1.2", features = ["alloc"] }
rsa = "0.9.2"
getrandom = { version = "0.2.10", features = ["js"] }
rand = { version = "0.8.5", features = ["std_rng", "small_rng"] }

[dependencies.web-sys]
version = "0.3.60"
features = [
    "AudioContext",
    "AudioData",
    "AudioEncoder",
    "AudioEncoderInit",
    "AudioEncoderConfig",
    "AudioDecoder",
    "AudioDecoderInit",
    "AudioDecoderConfig",
    "AudioWorklet",
    "AudioWorkletNode",
    "AudioWorkletNodeOptions",
    "BaseAudioContext",
    "GainOptions",
    "GainNode",
    "HtmlDocument",
    "console",
    "CodecState",
    "CanvasRenderingContext2d",
    "EncodedAudioChunk",
    "EncodedAudioChunkInit",
    "EncodedAudioChunkType",
    "EncodedVideoChunk",
    "EncodedVideoChunkInit",
    "EncodedVideoChunkType",
    "MediaStreamAudioDestinationNode",
    "AudioDestinationNode",
    "AudioContextOptions",
    "AudioDataCopyToOptions",
    "HtmlCanvasElement",
    "HtmlImageElement",
    "Navigator",
    "MediaDevices",
    "MediaStream",
    "MediaStreamTrack",
    "MediaTrackSettings",
    "MediaStreamTrackProcessor",
    "MediaStreamTrackProcessorInit",
    "MediaStreamTrackGenerator",
    "MediaStreamTrackGeneratorInit",
    "MessagePort",
    "OffscreenCanvas",
    "WritableStream",
    "WritableStreamDefaultWriter",
    "MediaStreamAudioSourceNode",
    "HtmlVideoElement",
    "MediaStreamConstraints",
    "ReadableStream",
    "ReadableStreamGetReaderOptions",
    "ReadableStreamDefaultReader",
    "VideoEncoder",
    "VideoEncoderInit",
    "VideoEncoderConfig",
    "VideoEncoderEncodeOptions",
    "VideoFrame",
    "VideoFrameInit",
    "VideoTrack",
    "VideoDecoder",
    "VideoDecoderConfig",
    "VideoDecoderInit",
    "LatencyMode",
    "HtmlAudioElement",
    "AudioDataInit",
    "AudioSampleFormat",
    "TransformStream",
    "MediaDeviceInfo",
    "MediaDeviceKind",
    "MediaTrackConstraints",
]

[dev-dependencies]
wasm-bindgen-test = "0.3.37"

[features]

debugAssertions = []
