body {
    color: white;
    background-color: black
}

html,body {
  height:100%;
  width:100%;
  margin:0;
}
body {
  display:flex;
}
input {
  margin:auto;/* nice thing of auto margin if display:flex; it center both horizontal and vertical :) */
}

.grid-container {
  display: flex;
  background-color: black;
}
.grid-item {
  flex: 1;
  width: 30%;
  height: fit-content;
  position: relative;
}

.hidden {
  display: none
}

canvas {
  width: 100%;
  /* height: 100%; */
}

.self-camera {
  width: 100%;
  height: 100%;
}

.menu {
  position:absolute;
  bottom:0;
  right:0;
}

.floating-name {
  color: black;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 0;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.controls {
  top: 0;
  left: 0;
  margin-top: 0;
  margin-left: 0;
}