{% import "macros/macros.html" as post_macros %}

<!DOCTYPE html>
<html lang="en" class="dark light">

    {% include "partials/header.html" %}

    <body>
        <div class="left-content">
            {% block left_content %}
            {% endblock left_content %}
        </div>

        <div class="content">
            {% include "partials/nav.html" %}

            {# Post page is the default #}
            {% block main_content %}
                Nothing here?!
            {% endblock main_content %}

            {% if page.extra.comment is defined %}
                {% set show_comment = page.extra.comment %}
            {% else %}
                {% set show_comment = false %}
            {% endif %}

            {% if show_comment %}
                <div class="giscus"></div>
                {% include "_giscus_script.html" %}
            {% endif %}
        </div>

        <div class="right-content">
            {% block right_content %}
            {% endblock right_content %}
        </div>
    </body>

</html>
