# Default values for rustlemania.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
nameOverride: ""
fullnameOverride: "rustlemania-ui"

replicaCount: 1
image:
  repository: securityunion/rustlemania-ui
  pullPolicy: Always
  tag: latest
  resources:
    limits:
      cpu: "100m" # 100% of a single CPU
      memory: "128Mi" # 128 * 1024 *1024 bytes
    requests:
      cpu: "50m" # 50% of a single CPU
      memory: "64Mi"#  64 * 1024 *1024 bytes
podAnnotations: {}
podSecurityContext: {}
securityContext: {}
service:
  type: ClusterIP
  port: 80
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80
nodeSelector: {}
tolerations: []
affinity: {}

runtimeConfig:
  apiBaseUrl: "https://api.YOUR_DOMAIN_NAME"
  wsUrl: "wss://websocket.YOUR_DOMAIN_NAME"
  webTransportHost: "https://webtransport.YOUR_DOMAIN_NAME:443"
  oauthEnabled: "false"
  e2eeEnabled: "false"
  webTransportEnabled: "true"
  usersAllowedToStream: ""
  serverElectionPeriodMs: 2000
  audioBitrateKbps: 16
  videoBitrateKbps: 160
  screenBitrateKbps: 160

ingress:
  enabled: true
  redirect: false
  className: nginx
  annotations:
    cert-manager.io/issuer: letsencrypt-prod
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    kubernetes.io/tls-acme: "true"
  hosts:
    - host: app.YOUR_DOMAIN_NAME
      paths:
        - path: /
          pathType: Prefix
          service:
            name: rustlemania-ui
            port:
              number: 80
  tls:
    - secretName: rustlemania-ui-tls
      hosts:
        - app.YOUR_DOMAIN_NAME