apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: websocket-us-east-tls
  namespace: default
spec:
  secretName: websocket-us-east-tls
  issuerRef:
    name: letsencrypt-prod
    kind: Issuer
  dnsNames:
`     - websocket-us-east.webtransport.video 