# Based on https://github.com/actions-rs/meta/blob/master/recipes/quickstart.md

on: 
  pull_request:
    paths:
      - 'actix-api/**'
      - 'videocall-types/**'
      - 'protobuf/**'
      - 'yew-ui/**'
      - 'docker/**'
      - 'neteq/**'
      - 'videocall-client/**'
name: check backend
  
jobs:
  test:
    name: cargo tests_run
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      # Cache Docker layers
      - name: Cache Docker layers
        uses: actions/cache@v3
        with:
          path: /tmp/.docker
          key: ${{ runner.os }}-docker-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-docker-

      # Cache Rust build artifacts
      - name: Cache Cargo Registry
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-

      - run: make tests_run
