name: Publish API to Docker image

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - add-auth
      - feature/meeting-backend-api
    paths:
      - 'actix-api/**'
      - 'videocall-types/**'
      - 'protobuf/**'
      - Dockerfile.actix
      - Cargo.lock
      - Cargo.toml
      - flake.nix
      - flake.lock

jobs:
  push_to_registry:
    name: Push API Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
        id: checkout

      - name: Log in to Docker Hub
        uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Extract SHA
        id: extract_sha
        run: echo "sha8=$(echo ${GITHUB_SHA::8})" >> "$GITHUB_OUTPUT"

      - name: Extract branch name
        id: extract_branch
        run: echo "branch=$(echo ${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}} | sed 's/\//-/g')" >> "$GITHUB_OUTPUT"

      - name: Build and push API Docker image
        uses: docker/build-push-action@3b5e8027fcad23fda98b2e3ac259d8d67585f671
        with:
          context: .
          file: Dockerfile.actix
          push: true
          tags: |
            securityunion/videocall-media-server:${{ steps.extract_branch.outputs.branch }}-${{ steps.extract_sha.outputs.sha8 }}
            securityunion/videocall-media-server:latest
