name: Publish Website to Docker image

on:
  pull_request:
    paths:
      - '*'
  # push:
  #   branches:
  #     - main
  #   paths:
  #     - 'leptos-website/**'
  #     - docker/Dockerfile.website
      
jobs:
  push_to_registry:
    name: Push Website Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
        id: checkout

      - name: Log in to Docker Hub
        uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Extract SHA
        id: extract_sha
        run: echo "::set-output name=sha8::$(echo ${GITHUB_SHA::8})"

      - name: Extract branch name
        id: extract_branch
        run: echo "::set-output name=branch::${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}"

      - name: Build and push  UI Docker image
        uses: docker/build-push-action@3b5e8027fcad23fda98b2e3ac259d8d67585f671
        with:
          context: ./leptos-website
          file: docker/Dockerfile.website
          push: true
          tags: securityunion/video-call-rs-website:${{ steps.extract_branch.outputs.branch }}-${{ steps.extract_sha.outputs.sha8 }}
