name: Publish Base UI to Docker image

on:
  push:
    branches:
      - main
    paths:
      - docker/base_images/Dockerfile.yew
  workflow_dispatch:

jobs:
  push_to_registry:
    name: Push base ui docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Extract SHA
        id: extract_sha
        run: echo "sha8=${GITHUB_SHA::8}" >> $GITHUB_OUTPUT

      - name: Build and push Base UI Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./docker/base_images/Dockerfile.yew
          push: true
          tags: |
            securityunion/yew-base:${{ github.ref_name }}-${{ steps.extract_sha.outputs.sha8 }}
            securityunion/yew-base:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
